* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

header > h1 {
  color: white;
  text-align: center;
  font-size: 70px;
}

header {
  margin-bottom: 40px;
}

.container {
  width: 680px;
  margin: auto;
}

.row {
  position: relative;
}

.card {
  width: 140px;
  height: 170px;
  position: absolute;
  top: 0;
}

.card.center-left {
  left: 180px;
}

.card.center-right {
  left: 360px;
}

.card.right {
  left: 540px;
}

.card > .visible {
  background-image: url("../img/pattern.png");
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  height: 100%;
}

 .card:hover .visible {
  display: none;
}

.card.hidden {
  display: none;
}
